.section_db-zamer_view{
	background:url("../img/db-zamer.jpg")no-repeat top center;
	text-align: center;
	padding: 50px 0;
}
.db-zamer_p-one{
	color:white;
	font-size: 15px;
	text-transform: uppercase;
	font-family: "pfdindisplaypro-bold";
	line-height: 25px;
	span{
		display: block;
		padding-top: 6px;
		font-size: 17px;
		color: #ffba26;
		line-height: 10px;
		padding-bottom: 10px;
	}
}
.db-zamer_p-two{
	font-family: "pfdindisplaypro-reg";
	color: white;
	font-size: 11px;
	line-height: 15px;
	padding-bottom: 5px;

}
.db-zamer-form{
	input[type="submit"]{
		font-family: "pfdindisplaypro-reg";
		font-size: 18px;
		line-height: 19px;
		text-transform: uppercase;
		color: whitesmoke;
		box-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.2);
		background-image: linear-gradient(to top, #fd670c 0%, #feb52b 100%);
		letter-spacing: 0.02em;
		padding: 10px 27px;
		border: none;
		border-radius: 17px;
		margin-top: 20px;
	}
	input[type="submit"]:hover{
		background-image: linear-gradient(to top, #1e6498 0%, #1e6498 12%, #badfff 100%);
		box-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.2);
	}
	input[type="text"]{
		margin-top: 20px;
	}
}
.db-zamer_p-three{
	font-family: "pfdindisplaypro-reg";
	font-size: 15px;
	line-height: 22px;
	color: white;
	padding-top: 10px;
	letter-spacing: 0.02em;
	span{
		font-size: 10px;
		color: #95bfdf;
		line-height: 22px;
		padding-top: 10px;
		display: block;
	}

}
.db-our-h1{
	color: #010101;
	font-size: 35px;
}
.db-our-a{
	color: #010101;
	font-size: 19px;
	line-height: 18px;
	text-transform: uppercase;
	font-family: "pfdindisplaypro-med";
	border: 2px solid #fd7a14;
	border-radius: 10px;
}
.db-left{
background: url("../img/db-our-one.png")no-repeat top left;
width: 41px;
height: 41px;
display: block;
}

.db-right{
background: url("../img/db-our-two.png")no-repeat top right;
width: 41px;
height: 41px;
display: block;
}




@media only screen and (min-width : 320px) {
}

@media only screen and (min-width : 480px) {
}

@media only screen and (min-width : 768px) {
}

@media only screen and (min-width : 992px) {
	.section_db-zamer_view{
		background:url("../img/db-zamer.jpg")no-repeat top center;
		text-align: center;
		padding: 86px 0;
	}
	.db-zamer_p-one{
		color:white;
		font-size: 35px;
		text-transform: uppercase;
		font-family: "pfdindisplaypro-bold";
		line-height: 18px;
		margin-top: unset;
		span{
			display: block;
			padding-top: 20px;
			font-size: 40px;
			color: #ffba26;
			line-height: 22px;
			padding-bottom: 32px;
		}
	}
	.db-zamer_p-two{
		font-family: "pfdindisplaypro-reg";
		color: white;
		font-size: 20px;
		line-height: 22px;
		padding-bottom: 42px;

	}
	.db-zamer-form{
		input[type="submit"]{
			font-family: "pfdindisplaypro-reg";
			font-size: 18px;
			line-height: 19px;
			text-transform: uppercase;
			color: whitesmoke;
			box-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.2);
			background-image: linear-gradient(to top, #fd670c 0%, #feb52b 100%);
			letter-spacing: 0.02em;
			padding: 10px 27px;
			border: none;
			border-radius: 17px;
			margin-top: unset;
		}
		input[type="submit"]:hover{
			background-image: linear-gradient(to top, #1e6498 0%, #1e6498 12%, #badfff 100%);
			box-shadow: 1.5px 2.6px 3px rgba(0, 0, 0, 0.2);
		}
		input[type="text"]{
			margin-top: unset;
		}
	}
	.db-zamer_p-three{
		font-family: "pfdindisplaypro-reg";
		font-size: 25px;
		line-height: 22px;
		color: white;
		padding-top: 27px;
		letter-spacing: 0.02em;
		span{
			font-size: 16px;
			color: #95bfdf;
			line-height: 22px;
			padding-top: 10px;
			display: block;
		}

	}
}

@media only screen and (min-width : 1248px) {
}

